* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(./Multimedia/614f353f1e11a6a7afdd8b74_6059a3e2b9ae6d2bd508685c_pt-texture-2\ \(1\).jpg);
}
.sec-1{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.sec-1-1{
        border: 2px solid black;
        /* flex-wrap: wrap; */
}
